p, li{
    font-family: "Rubik", sans-serif;
    color: #788487;
    line-height: 28px;
    font-size: 15px;
    font-weight: 400;
}
.my-hero{
    background-image: url(/assets/banner-bg.jpg);
    background-size: cover;

}

.hero {
    z-index: 999;
}

.footer{
    background-image: url(/assets/footer-bg.png);
    background-size: cover;
}